.icon {
	background-image:url('../img/members_icons_white.svg');
	background-size: 500%;
	min-width: 24px;
	min-height: 24px;
	/*max-width: 144px;
	max-height: 144px;*/
}
.icon-world { background-position: 0px 0px }
.icon-profiles { background-position: -100% 0px }
.icon-events { background-position: -200% 0px }
.icon-floormap { background-position: -300% 0px }
.icon-gallery { background-position: -400% 0px }
.icon-segfault { background-position: 0px -100% }
.icon-quotes { background-position: -100% -100% }
.icon-photohunt { background-position: -200% -100% }
.icon-yearbook { background-position: -300% -100% }
.icon-schedule { background-position: -400% -100% }
.icon-webnews2 { background-position: 0px -200% }
.icon-webmail { background-position: -100% -200% }
.icon-lists { background-position: -200% -200% }
.icon-evals { background-position: -300% -200% }
.icon-bookkake { background-position: -400% -200% }
.icon-machines { background-position: 0px -300% }
.icon-food { background-position: -100% -300% }
.icon-webcomic { background-position: -200% -300% }
.icon-microsoft { background-position: -300% -300% }
.icon-starrs { background-position: -400% -300% }
.icon-ldap { background-position: 0px -400% }
.icon-mysql { background-position: -100% -400% }
.icon-postgresql {background-position: -200% -400% }
.icon-network { background-position: -300% -400% }
.icon-pictures { background-position: -400% -400% }
.icon-drink { background-position: 0px -500% }
.icon-constitution{ background-position: -100% -500% }
.icon-certificate{ background-position: -200% -500% }
.icon-wiki { background-position: -300% -500% }
.icon-webnews { background-position: -400% -500% }
.icon-spending { background-position: 0px -600% }
.icon-slack { background-position: -100% -600% }
.icon-facebook { background-position: -200% -600% }
.icon-twitter { background-position: -300% -600% }
.icon-linkedin { background-position: -400% -600% }
.icon-github { background-position: 0px -700% }
.icon-coderwall { background-position: -100% -700% }
.icon-turntable { background-position: -200% -700% }
.icon-packet { background-position: -300% -700% }
.icon-drinkstats { background-position: -400% -700% }
